@{
    ViewBag.Title = "About";
}


<div class="hero hero-3" style="background-image: url('../../images/us.jpg');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 text-center mx-auto">
                <div class="intro">

                    <h1 class="heading mb-2" data-aos="fade-up" data-aos-delay="0">About Us</h1>
                    <br>
                    <br>
                    <p class="text-white" data-aos="fade-up" data-aos-delay="200">

                        Our team’s name is The Cyco Paths, being a homophone take on the word psychopath, it does not mean that we all have a personality disorder; but rather we are trying to adapt the traits of charisma, fearlessness, smart and determination of a psychopath. Cyco can have a lot of meanings including cycle, cyber, cycling and psychology as demonstrated by our icon, the word path also has a connotation of one's course through life, their purpose, and final destination. In essence, our overall vision is to be fearless in our actions and to combine fitness with technology to provide the public with innovative solutions.

                        Our team consists of a group of intelligent Monash students from different fields of study (including IT, DS, BIS). We will be working as a team and bridging our skill gaps to develop IT products that are contributed to social good

                    </p>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <h2 class="heading block-testimonial d-flex">Meet "The Cyco Paths"</h2>
        <div class="row" style="padding-top:50px;">

            <div class="col-lg-3" data-aos="fade-up" data-aos-delay="0">
                <div class="testionial-hero dark d-flex mb-5 mb-lg-0">
                    <div class="quote">&ldquo;</div>
                    <div class="">
                        <blockquote>
                            <p>Stay positive, better days are on their way.</p>
                        </blockquote>
                        <div class="img" style="width:100px;height:120px;padding-right:20px;">
                            <img src="../../images/chen.jpg" alt="Image" class="img-fluid rounded-circle">
                        </div>
                        <div class="author d-flex align-items-center">


                            <div class="text">
                                <strong>Hongyu Chen </strong>
                                <span class="d-block text-black-50">Monash University</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
                <div class="testionial-hero dark d-flex mb-5 mb-lg-0">
                    <div class="quote">&ldquo;</div>
                    <div class="">
                        <blockquote>
                            <p>Like is bicycling, you must keep moving to keep balance.</p>
                        </blockquote>
                        <div class="img" style="width:100px;height:120px;padding-right:20px;">
                            <img src="../../images/yu.jpg" alt="Image" class="img-fluid rounded-circle">
                        </div>
                        <div class="author d-flex align-items-center">


                            <div class="text">
                                <strong>Wei Yu</strong>
                                <span class="d-block text-black-50">Monash University</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3" data-aos="fade-up" data-aos-delay="200">
                <div class="testionial-hero dark d-flex mb-5 mb-lg-0">
                    <div class="quote">&ldquo;</div>
                    <div>
                        <blockquote>
                            <p>It is never too late for a new begining in your children's life.</p>
                        </blockquote>
                        <div class="img" style="width:100px;height:120px;padding-right:20px;">
                            <img src="../../images/wang.jpg" alt="Image" class="img-fluid rounded-circle">
                        </div>
                        <div class="author d-flex align-items-center">
                            <div class="text">
                                <strong>Qingyuan Wang</strong>
                                <span class="d-block text-black-50 ">Monash University</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3" data-aos="fade-up" data-aos-delay="200" ">
                <div class="testionial-hero dark d-flex mb-5 mb-lg-0">
                    <div class="quote">&ldquo;</div>
                    <div>
                        <blockquote>
                            <p>Adults call it "workout", kids call it "playing".</p>
                        </blockquote>
                        <div class="img" style="width:100px;height:120px;padding-right:20px;">
                            <img src="../../images/zhao.jpg" alt="Image" class="img-fluid rounded-circle">
                        </div>
                        <div class="author d-flex align-items-center">

                            <div class="text">
                                <strong>Zhongjing Zhao</strong>
                                <span class="d-block text-black-50">Monash University</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>