
@{
    ViewBag.Title = "BlindManBuff";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero hero-3" style="background-image: url('../../images/park.jpg');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 text-left mx-auto">
                <div class="intro">

                    <h1 class="heading mb-2" data-aos="fade-up" data-aos-delay="0" style="padding-bottom:30px">Blind man's buff</h1>
                    <div class="text-white" data-aos="fade-up" data-aos-delay="100">
                        <p class="block-testimonial">
                            Blind man's bluff is a variant of tag and played in a spacious area, such as outdoors or in a large room, in which one player, designated as "It", is blindfolded and gropes around attempting to touch the other players without being able to see them, while the other players scatter and try to avoid the person who is "it", hiding in plain sight and sometimes teasing them to influence them to change direction.
                            Blind man's bluff is ideally played in an area free of dangerous obstructions so that the "It" player will not suffer injury from tripping over or hitting something.
                        </p>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


<div class="section">
    <div class="container">
        <div class="col-sm-12 col-md-12 col-lg-12" data-aos="fade-up" data-aos-delay="0">
            <div class="block-testimonial d-flex ">
                <div class="img col-lg-6">

                    <img src="~/images/blindman.jpg" alt="Image" class="img-fluid" />
                </div>

                <div class="col-lg-6" style="padding-left:180px;">

                    <div class="heading mb-2" style="padding-top:20px; padding-bottom: 40px;">
                        Tips for Blind man's buff:
                    </div>

                    <p>Number of participants:  2 or more </p>
                    <p>
                        Intensiveness: High
                    </p>
                    <p>
                        Suggested Location:  Backyard, Parks and Large Public Spaces
                    </p>
                    @*<p>
                        Star Count:
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star-half-full"></span>
                    </p>*@


                    <p>
                        Equipment Needed: Blindfold
                    </p>
                    <p>
                        Calories Burned: 228 Cal for 30 mins
                    </p>
                    <div class="media-entry h-25">
                        <a href="https://www.dailymail.co.uk/femail/article-3695825/The-playground-games-burn-calories-running-cost-Gym-expert-says-hopscotch-tag-skipping-latest-fitness-fads.html" class="more d-flex align-items-center float-end">
                            <span class="label text-black-50 text-center">See more details on 'Daily Australia'</span>
                            <span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
                        </a>

                    </div>
                </div>


            </div>
            <a href="@Url.Action("MapSearch", "Home")" class="d-flex float-end block-testimonial">
                <span class="label">Find places for exercising</span>
                <span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
            </a>
            <a href="@Url.Action("MoreActivities", "Home") " class="d-flex float-right block-testimonial">
                <span class="arrow"><span class="icon-keyboard_arrow_left"></span></span>
                <span>Find other Activities</span>
            </a>

        </div>

    </div>

</div>



