@{
    ViewBag.Title = "BMI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="hero hero-2" style="background-image: url('../../images/background2.jpg')">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-10 mx-auto">
                <div class="intro">

                    <h2 class="text-white subheading text-center" style="padding-top:100px;padding-bottom :20px; font-size: 20px;" data-aos="fade-up" data-aos-delay="0">Body Mass Index Calculator</h2>
                    <div class=" col-lg-8 mx-auto">

                        <div data-aos="fade-up" data-aos-delay="200">
                            <div class="text-center">
                                <p class="text-white">
                                    Height: <input type="text" id="height" />
                                    <select type="multiple" id="heightunits">
                                        <option value="centimetres" selected="selected">centimetres</option>
                                        <option value="inches">inches</option>
                                    </select>
                                </p>
                                <p class="text-white">
                                    Weight: <input type="text" id="weight" />
                                    <select type="multiple" id="weightunits">
                                        <option value="kg" selected="selected">kilograms</option>
                                        <option value="lb">pounds</option>
                                    </select>
                                </p>
                                <table class="col-lg-8 mx-auto">
                                    <tr>
                                        <td>
                                            <p class="text-white">
                                                Age:
                                                <select type="multiple" id="year">
                                                    <option value=10 selected="selected">10</option>
                                                    <option value=11>11</option>
                                                    <option value=12>12</option>

                                                </select>

                                            </p>

                                        </td>
                                        <td>
                                            <p class="text-white">
                                                Month:
                                                <select type="multiple" id="month">
                                                    <option value=0 selected="selected">0</option>
                                                    <option value=1>1</option>
                                                    <option value=2>2</option>
                                                    <option value=3>3</option>
                                                    <option value=4>4</option>
                                                    <option value=5>5</option>
                                                    <option value=6>6</option>
                                                    <option value=7>7</option>
                                                    <option value=8>8</option>
                                                    <option value=9>9</option>
                                                    <option value=10>10</option>
                                                    <option value=11>11</option>
                                                    <option value=12>12</option>
                                                </select>

                                            </p>
                                        <td>
                                    </tr>
                                </table>


                                <p class="text-white">
                                    Gender:
                                    <select type="multiple" id="gender">
                                        <option value="male" selected="selected">Boy</option>
                                        <option value="female">Girl</option>
                                    </select>
                                </p>
                                <input type="submit" value="View Result" id="compute" onclick="computeBMI();">

                                <p id="result" class="subheading1 text-white" style="visibility:hidden"><br>Your child's BMI is: <span id="output"></span></p>

                                <p class="text-white "><span id="comment"></span></p>
                            </div>
                            <span id="BMItitle" class='BMItitle'></span>
                            <span id="noneob" class='noneob'>Non-Obese</span>
                            <span id="overweight" class='overweight'>Overweight</span>
                            <span id="obese" class='obese'>Obese</span>
                            <div id="canvas" style="width:100%;height:400px; background-color:white; visibility:hidden">
                                <canvas id="myChart" />
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            @*<div id="chartContainer" style="height: 320px; width: 100%;" />*@
        </div>

    </div>
</div>

<style>
    .noneob {
        font-size: 20px;
        font-weight: bold;
        opacity: 0.6;
        z-index: 1;
        margin-top: 230px;
        margin-left: 50px;
        position: absolute;
        visibility: hidden;
    }

    .overweight {
        font-size: 20px;
        font-weight: bold;
        opacity: 0.6;
        z-index: 1;
        margin-top: 140px;
        margin-left: 50px;
        position: absolute;
        visibility: hidden;
    }

    .obese {
        font-size: 20px;
        font-weight: bold;
        opacity: 0.6;
        z-index: 1;
        margin-top: 60px;
        margin-left: 50px;
        position: absolute;
        visibility: hidden;
    }

    .BMItitle {
        font-size: 25px;
        font-weight: bold;
        margin-top: 5px;
        margin-left: 50px;
        position: absolute;
        margin-bottom: 20px;
    }
</style>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.0.2/chart.min.js"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.js"></script>*@


<script type="text/javascript">
    window.onload = function () {
        document.getElementById("height").value = localStorage.getItem("height");
        document.getElementById("weight").value = localStorage.getItem("weight");

    };

    function computeBMI() {
        document.getElementById("canvas").style.visibility = "visible"
        document.getElementById("result").style.visibility = "visible"
        document.getElementById("noneob").style.visibility = "visible"
        document.getElementById("overweight").style.visibility = "visible"
        document.getElementById("obese").style.visibility = "visible"

        // user inputs
        var height = Number(document.getElementById("height").value);
        var heightunits = document.getElementById("heightunits").value;
        var weight = Number(document.getElementById("weight").value);
        var weightunits = document.getElementById("weightunits").value;
        var age = Number(document.getElementById("year").value)*12 + Number(document.getElementById("month").value);
        var gender = document.getElementById("gender").value;


       localStorage.setItem("height", height);
       localStorage.setItem("weight", weight);


        //Convert all units to metric
        if (heightunits == "inches") height /= 39.3700787;
        if (weightunits == "lb") weight /= 2.20462;

        //Perform calculation

        //        var BMI = weight /Math.pow(height, 2)*10000;
        var BMI = Math.round((weight / Math.pow(height, 2) * 10000) * 100) / 100;

        //Display result of calculation
        document.getElementById("output").innerText = BMI;


        if (BMI < 18.5)
            document.getElementById("comment").innerText = "Your child is underweight. It's important to aim to keep within your healthy weight range. Being in the healthy weight range will improve your body's ability to fight off infection or illness.";
        if (BMI >= 18.5 && BMI <= 25)
            document.getElementById("comment").innerText = "Your child's weight is healthy. Aim to keep your child within the healthy weight range by enjoying a healthy, well - balanced diet and exercising regularly.";
        if (BMI >= 25 && BMI <= 30)
            document.getElementById("comment").innerText = "Your child is overweight. Being overweight increases the risk of developing coronary heart disease, as well as other health conditions. To achieve and maintain a healthy weight, be physically active every day and enjoy a healthy, well-balanced diet";
        if (BMI > 30)
            document.getElementById("comment").innerText = "Your child's weight falls within the obese range. High BMI increases the risk of developing coronary heart disease, as well as other heath conditions. To achieve and maintain a healthy weight be physically active every day and eat a healthy, well-balanced diet that meets your energy needs.";
        // document.getElementById("answer").value = output;

        var result = @Html.Raw(ViewBag.DataPoints);

        var dataPoints1x = [];

        var dataPoints1y = [], dataPoints2y = [], dataPoints3y = [], dataPoints4y = [], dataPoints5y = [], dataPoints6y = [], dataPoints7y = [], dataPoints8y = [], dataPoints9y = [], dataPoints10y = [];
        //let myLineExtend = Chart.controllers.line.prototype.draw;
        //Chart.helpers.extend(Chart.controllers.line.prototype, {
        //    draw: function () {
        //        myLineExtend.apply(this, arguments);
        //        this.chart.chart.ctx.textAlign = "center"
        //        this.chart.chart.ctx.fillText("Non-Obese", 400, 270)
        //        this.chart.chart.ctx.fillText("Overweight", 400, 200)
        //        this.chart.chart.ctx.fillText("Obese", 400, 100)
        //    }
        //});

        if (gender == "male") {
            document.getElementById("BMItitle").innerText = "Age 10-12 Boy BMI";
            for (var i = 0; i < result.length; i++) {
                if (result[i].Age_in_months >= 120 && result[i].Age_in_months <= 160) {
                    dataPoints1x.push(result[i].Age_in_months);
                    dataPoints1y.push(result[i].third_Percentile);
                    dataPoints2y.push(result[i].fifth_Percentile);
                    dataPoints3y.push(result[i].tenth_Percentile);
                    dataPoints4y.push(result[i].twenty_fifth_Percentile);
                    dataPoints5y.push(result[i].fiftieth_Percentile);
                    dataPoints6y.push(result[i].seventy_fifth_Percentile);
                    dataPoints7y.push(result[i].eightieth_Percentile);
                    dataPoints8y.push(result[i].ninetieth_Percentile);
                    dataPoints9y.push(result[i].ninety_fifth_Percentile);
                    dataPoints10y.push(result[i].ninety_seventh_Percentile);

                }

            }

            var grapharea = document.getElementById("myChart").getContext("2d");

            if (window.chart != null) {
                window.chart.destroy();

            }

            window.chart = new Chart(grapharea, {
                type: 'line',

                data: {
                    labels: dataPoints1x,

                    datasets: [{
                            data: dataPoints1y,
                /*        label: "third_Percentile",*/
                            borderColor: "#232323",
                            fill: false,
                            hidden: true,
                            pointRadius: 0,
                            tension: 0.3,
                            color: "#FFFFFF"
                    }, {
                        data: dataPoints2y,
                     /*   label: "fifth_Percentile",*/
                            borderColor:"#64EF48",
                            fill: "end",
                            pointRadius: 0,
                            tension: 0.3,
                            color: "#FFFFFF",
                            backgroundColor: "rgba(199, 255, 221,0.4)"

                    }, {
                        data: dataPoints3y,
                    /*    label: "tenth_Percentile",*/
                            borderColor: "#48EF9B",
                            fill: false,
                            hidden: true,
                            pointRadius: 0,
                            tension: 0.3,
                            color: "#FFFFFF"
                    }, {
                        data: dataPoints4y,
                       /* label: "twenty_fifth_Percentile",*/
                            borderColor: "#48EFDB",
                            fill: false,
                            hidden: true,
                            pointRadius: 0,
                            tension: 0.3,
                            color: "#FFFFFF"
                        },
                        {
                            data: dataPoints5y,
                           /* label: "fiftieth_Percentile",*/
                            borderColor: "#48A8EF",
                            fill: false,
                            hidden: true,
                            pointRadius: 0,
                            tension: 0.3,
                            color: "#FFFFFF"
                        },
                        {
                            data: dataPoints6y,
                           /* label: "seventy_fifth_Percentile",*/
                            borderColor: "#4873EF",
                            fill: false,
                            hidden: true,
                            pointRadius: 0,
                            tension: 0.3,
                            color: "#FFFFFF"
                        },
                        {
                            data: dataPoints7y,
                            /*label: "eightieth_fifth_Percentile",*/
                            borderColor: "#EF2A87",
                            fill: "end",
                            pointRadius: 0,
                            tension: 0.3,
                            color: "#FFFFFF",
                            backgroundColor: "rgba(252, 131, 10,0.4)"
                        },
                        {
                            data: dataPoints8y,
                           /* label: "ninetieth_Percentile",*/
                            borderColor: "#FC2D88",
                            fill: false,
                            hidden: true,
                            pointRadius: 0,
                            tension: 0.3,
                            color: "#FFFFFF"

                        },
                        {
                            data: dataPoints9y,
                           /* label: "ninety_fifth_Percentile",*/
                            borderColor: "#FA0F36",
                            fill: "end",
                            pointRadius: 0,
                            tension: 0.3,
                            color: "#FFFFFF",
                            backgroundColor: "rgba(255, 0, 0,0.6)"
                        },
                        {
                            data: dataPoints10y,
                           /* label: "ninety_seventh_Percentile",*/
                            borderColor: "#FD0000",
                            fill: false,
                            hidden: true,
                            pointRadius: 0,
                            tension: 0.3,
                            color: "#FFFFFF",


                        },
                        {
                            data: [{ x: age, y: BMI }],
                            label: "Your boy's BMI",
                            borderColor: "#00FD1F",
                            fill: true,
                            pointStyle: 'rectRot',
                            pointRadius: 5,
                            color: "#FFFFFF",
                            borderWidth: 5,
                    }
                    ]
                },
                options: {


                    plugins: {
                        legend: {
                            display: false
                        },
                        title: {
                            display: true,
                            text: '   ',
                            padding: {
                                top: 10,
                                bottom: 30
                            }


                        },
                        responsive: true,
                        maintainAspectRatio: true,
                        filler: {
                            propagate: true
                        }
                    }
                }
            });


        }
        var result2 = @Html.Raw(ViewBag.DataPoints2);
        var dataPoints11x = [];
        var dataPoints11y = [], dataPoints12y = [], dataPoints13y = [], dataPoints14y = [], dataPoints15y = [], dataPoints16y = [], dataPoints17y = [], dataPoints18y = [], dataPoints19y = [], dataPoints20y = [];
        if (gender == "female") {
            document.getElementById("BMItitle").innerText = "Age 10-12 Girl BMI";
            for (var i = 0; i < result2.length; i++) {
                if (result2[i].Age_in_months >= 120 && result2[i].Age_in_months <= 160) {
                    dataPoints11x.push(result2[i].Age_in_months-0.5);
                    dataPoints11y.push(result2[i].third_Percentile);
                    dataPoints12y.push(result2[i].fifth_Percentile);
                    dataPoints13y.push(result2[i].tenth_Percentile);
                    dataPoints14y.push(result2[i].twenty_fifth_Percentile);
                    dataPoints15y.push(result2[i].fiftieth_Percentile);
                    dataPoints16y.push(result2[i].seventy_fifth_Percentile);
                    dataPoints17y.push(result2[i].eightieth_Percentile);
                    dataPoints18y.push(result2[i].ninetieth_Percentile);
                    dataPoints19y.push(result2[i].ninety_fifth_Percentile);
                    dataPoints20y.push(result2[i].ninety_seventh_Percentile);

                }

            }

            var grapharea = document.getElementById("myChart").getContext("2d");
            if (window.chart != null) {
                window.chart.destroy();
            }
            window.chart = new Chart(grapharea, {
                type: 'line',

                data: {
                    labels: dataPoints11x,

                    datasets: [{
                        data: dataPoints11y,
                        //label: "third_Percentile",
                        borderColor: "#232323",
                        fill: false,
                        hidden: true,
                        pointRadius: 0,
                        color: "#FFFFFF"
                    }, {
                        data: dataPoints12y,
                        //label: "fifth_Percentile",
                        borderColor: "#64EF48",
                        fill: "end",
                        pointRadius: 0,
                        color: "#FFFFFF",
                        backgroundColor: "rgba(199, 255, 221,0.4)"

                    }, {
                        data: dataPoints13y,
                        //label: "tenth_Percentile",
                        borderColor: "#48EF9B",
                        fill: false,
                        hidden: true,
                        pointRadius: 0,
                        color: "#FFFFFF"
                    }, {
                        data: dataPoints14y,
                        //label: "twenty_fifth_Percentile",
                        borderColor: "#48EFDB",
                        fill: false,
                        hidden: true,
                        pointRadius: 0,
                        color: "#FFFFFF"
                    },
                    {
                        data: dataPoints15y,
                        //label: "fiftieth_Percentile",
                        borderColor: "#48A8EF",
                        fill: false,
                        hidden: true,
                        pointRadius: 0,
                        color: "#FFFFFF"
                    },
                    {
                        data: dataPoints16y,
                        //label: "seventy_fifth_Percentile",
                        borderColor: "#4873EF",
                        fill: false,
                        hidden: true,
                        pointRadius: 0,
                        color: "#FFFFFF"
                    },
                    {
                        data: dataPoints17y,
                        //label: "eightieth_fifth_Percentile",
                        borderColor: "#EF2A87",
                        fill: "end",
                        pointRadius: 0,
                        color: "#FFFFFF",
                        backgroundColor: "rgba(252, 131, 10,0.4)"
                    },
                    {
                        data: dataPoints18y,
                        //label: "ninetieth_Percentile",
                        borderColor: "#FC2D88",
                        fill: false,
                        hidden: true,
                        pointRadius: 0,

                        color: "#FFFFFF"

                    },
                    {
                        data: dataPoints19y,
                        //label: "ninety_fifth_Percentile",
                        borderColor: "#FA0F36",
                        fill: "end",
                        pointRadius: 0,

                        color: "#FFFFFF",
                        backgroundColor: "rgba(255, 0, 0,0.6)"
                    },
                    {
                        data: dataPoints20y,
                       // label: "ninety_seventh_Percentile",
                        borderColor: "#FD0000",
                        fill: false,
                        hidden: true,
                        pointRadius: 0,

                        color: "#FFFFFF",


                    },
                    {
                            data: [{ x: age, y: BMI }],
                            label: "Your girl's BMI",
                            borderColor: "#00FD1F",
                            fill: false,
                            pointStyle: 'rectRot',
                            pointRadius: 5,
                            color: "#FFFFFF",
                            borderWidth:5,
                    }
                    ]
                },
                options: {

                    plugins: {
                        legend: {
                            display: false
                        },
                        title: {
                            display: true,
                            text: '   ',
                            padding: {
                                top: 10,
                                bottom: 30
                            }


                        },
                        responsive: true,
                        maintainAspectRatio: true,

                    },
                    tooltips: {
                        callbacks: {
                            label: function (tooltipItem) {
                                return tooltipItem.yLabel;
                            }
                        }
                    }
                }
            });


        }


    }
</script>



