@{
    ViewBag.Title = "BMI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="hero hero-2" style="background-image: url('../../images/background2.jpg');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-10 mx-auto">
                <div class="intro">

                    <h2 class="text-white subheading text-center" style="padding-top:100px;padding-bottom :20px; font-size: 20px;"  data-aos="fade-up" data-aos-delay="0">Body Mass Index Calculator</h2>
                    <div class=" col-lg-8 mx-auto">
                        
                        <div data-aos="fade-up" data-aos-delay="200">
                            <div class="text-center">
                                <p class="text-white">
                                    Height: <input type="text" id="height" />
                                    <select type="multiple" id="heightunits">
                                        <option value="centimetres" selected="selected">centimetres</option>
                                        <option value="inches">inches</option>
                                    </select>
                                </p>
                                <p class="text-white">
                                    Weight: <input type="text" id="weight" />
                                    <select type="multiple" id="weightunits">
                                        <option value="kg" selected="selected">kilograms</option>
                                        <option value="lb">pounds</option>
                                    </select>
                                </p>
                                <table class="col-lg-8 mx-auto">
                                    <tr>
                                        <td>
                                            <p class="text-white">
                                                Age:
                                                <select type="multiple" id="year">
                                                    <option value=10 selected="selected">10</option>
                                                    <option value=11>11</option>
                                                    <option value=12>12</option>

                                                </select>

                                            </p>

                                        </td>
                                        <td>
                                            <p class="text-white">
                                                Month:
                                                <select type="multiple" id="month">
                                                    <option value=0 selected="selected">0</option>
                                                    <option value=1>1</option>
                                                    <option value=2>2</option>
                                                    <option value=3>3</option>
                                                    <option value=4>4</option>
                                                    <option value=5>5</option>
                                                    <option value=6>6</option>
                                                    <option value=7>7</option>
                                                    <option value=8>8</option>
                                                    <option value=9>9</option>
                                                    <option value=10>10</option>
                                                    <option value=11>11</option>
                                                    <option value=12>12</option>
                                                </select>

                                            </p>
                                        <td>
                                    </tr>
                                </table>


                                <p class="text-white">
                                    Gender:
                                    <select type="multiple" id="gender">
                                        <option value="male" selected="selected">boy</option>
                                        <option value="female">girl</option>
                                    </select>
                                </p>
                                <input type="submit" value="ComputeBMI" id="compute" onclick="computeBMI();">

                                <p class="text-white"><br>Your child's BMI is: <span id="output"></span></p>

                                <p class="text-white"><span id="comment"></span></p>
                            </div>
                            <div class="text-left">
                                <p class="subheading1 text-white">Tips: </p>
                                <p class="p1 text-white " >                               
                                    •	A healthy weight: a BMI for age that falls between the 5th and 85th percentiles.<br />
                                    •	Overweight: a BMI for age between the 85th and 95th percentiles.<br />
                                    •	Obesity: a BMI for age of 95th percentile or higher.<br />

                                </p>
                            </div>

                        </div>

                    </div>
                    <div id="chartContainer" style="height: 300px; width: 100%;" />
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/canvasjs.min.js"></script>
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/xy.js"></script>

<script type="text/javascript">
   
    function computeBMI() {
        // user inputs
        var height = Number(document.getElementById("height").value);
        var heightunits = document.getElementById("heightunits").value;
        var weight = Number(document.getElementById("weight").value);
        var weightunits = document.getElementById("weightunits").value;
        var age = Number(document.getElementById("year").value)*12 + Number(document.getElementById("month").value);
        var gender = document.getElementById("gender").value;


        //Convert all units to metric
        if (heightunits == "inches") height /= 39.3700787;
        if (weightunits == "lb") weight /= 2.20462;

        //Perform calculation

        //        var BMI = weight /Math.pow(height, 2)*10000;
        var BMI = Math.round((weight / Math.pow(height, 2) * 10000) * 100) / 100;

        //Display result of calculation
        document.getElementById("output").innerText = BMI;


        if (BMI < 18.5)
            document.getElementById("comment").innerText = "Your child is underweight. It's important to aim to keep within your healthy weight range. Being in the healthy weight range will improve your body's ability to fight off infection or illness.";
        if (BMI >= 18.5 && BMI <= 25)
            document.getElementById("comment").innerText = "Your child's weight is healthy. Aim to keep your child within the healthy weight range by enjoying a healthy, well - balanced diet and exercising regularly.";
        if (BMI >= 25 && BMI <= 30)
            document.getElementById("comment").innerText = "Your child is overweight. Being overweight increases the risk of developing coronary heart disease, as well as other health conditions. To achieve and maintain a healthy weight, be physically active every day and enjoy a healthy, well-balanced diet";
        if (BMI > 30)
            document.getElementById("comment").innerText = "Your child's weight falls within the obese range. High BMI increases the risk of developing coronary heart disease, as well as other heath conditions. To achieve and maintain a healthy weight be physically active every day and eat a healthy, well-balanced diet that meets your energy needs.";
        // document.getElementById("answer").value = output;

        var result = @Html.Raw(ViewBag.DataPoints);
        var result2 = @Html.Raw(ViewBag.DataPoints2);
        var dataPoints1 = [], dataPoints2 = [],dataPoints3 = [], dataPoints4 = [],dataPoints5 = [], dataPoints6 = [], dataPoints7 = [],dataPoints8 = [], dataPoints9 = [], dataPoints10 = [];
        var dataPoints11 = [], dataPoints12 = [],dataPoints13 = [],dataPoints14 = [],dataPoints15 = [],dataPoints16 = [],dataPoints17 = [],dataPoints18 = [],dataPoints19 = [], dataPoints20 = [];
        var dataPoints21 = [], dataPoints22 = [];


        if (gender == "male") {
            for (var i = 0; i < result.length; i++) {
                if (result[i].Age_in_months >= 120 && result[i].Age_in_months <= 160) {
                    dataPoints1.push({ x: result[i].Age_in_months, y: result[i].third_Percentile });
                    dataPoints2.push({ x: result[i].Age_in_months, y: result[i].fifth_Percentile });
                    dataPoints3.push({ x: result[i].Age_in_months, y: result[i].tenth_Percentile });
                    dataPoints4.push({ x: result[i].Age_in_months, y: result[i].twenty_fifth_Percentile });
                    dataPoints5.push({ x: result[i].Age_in_months, y: result[i].fiftieth_Percentile });
                    dataPoints6.push({ x: result[i].Age_in_months, y: result[i].seventy_fifth_Percentile });
                    dataPoints7.push({ x: result[i].Age_in_months, y: result[i].eightieth_Percentile });
                    dataPoints8.push({ x: result[i].Age_in_months, y: result[i].ninetieth_Percentile });
                    dataPoints9.push({ x: result[i].Age_in_months, y: result[i].ninety_fifth_Percentile });
                    dataPoints10.push({ x: result[i].Age_in_months, y: result[i].ninety_seventh_Percentile });
                    dataPoints21.push({ x: age, y: BMI });
                }
            }
            var boychart = new CanvasJS.Chart("chartContainer", {
                theme: "light2",
                animationEnabled: true,
                title: {
                    dockInsidePlotArea: true,
                    text: "Age 10-12 Boy BMI",
                    margin: 25,
                    padding: 4,
                },
                axisX: {
                    title: "Age(in months)"
                },
                
                axisY: {
                    title: "BMI(kg/m^2) "
                },
                toolTip: {
                    shared: "true"
                },
                legend: {
                    cursor: "pointer",
                    itemclick: toggleDataSeries
                },
                data: [
                    {
                        type: "spline",
                        visible: false,
                        showInLegend: true,
                        yValueFormatString: "##.00mn",
                        name: "third_Percentile",
                        dataPoints: dataPoints1,
                        markerType: "none"
                    },
                    {
                        type: "spline",
                        showInLegend: true,
                        visible: false,
                        yValueFormatString: "##.00mn",
                        name: "fifth_Percentile",
                        dataPoints: dataPoints2,
                        markerType: "none"
                    },
                    {
                        type: "spline",
                        visible: true,
                        showInLegend: true,
                        yValueFormatString: "##.00mn",
                        name: "tenth_Percentile",
                        dataPoints: dataPoints3,
                        markerType: "none"
                    },
                    {
                        type: "spline",
                        visible: true,
                        showInLegend: true,
                        yValueFormatString: "##.00mn",
                        name: "twenty_fifth_Percentile",
                        dataPoints: dataPoints4,
                        markerType: "none"
                    },
                    {
                        type: "spline",
                        visible: true,
                        showInLegend: true,
                        yValueFormatString: "##.00mn",
                        name: "fiftieth_Percentile",
                        dataPoints: dataPoints5,
                        markerType: "none"
                    },
                    {
                        type: "spline",
                        visible: true,
                        showInLegend: true,
                        yValueFormatString: "##.00mn",
                        name: "seventy_fifth_Percentile",
                        dataPoints: dataPoints6,
                        markerType: "none"
                    },
                    {
                        type: "spline",
                        visible: true,
                        showInLegend: true,
                        yValueFormatString: "##.00mn",
                        name: "eightieth_Percentile",
                        dataPoints: dataPoints7,
                        markerType: "none"
                    },
                    {
                        type: "spline",
                        visible: true,
                        showInLegend: true,
                        yValueFormatString: "##.00mn",
                        name: "ninetieth_Percentile",
                        dataPoints: dataPoints8,
                        markerType: "none"
                    },
                    {
                        type: "spline",
                        visible: false,
                        showInLegend: true,
                        yValueFormatString: "##.00mn",
                        name: "ninety_fifth_Percentile",
                        dataPoints: dataPoints9,
                        markerType: "none"
                    },
                    {
                        type: "spline",
                        visible: false,
                        showInLegend: true,
                        yValueFormatString: "##.00mn",
                        name: "ninety_seventh_Percentile",
                        dataPoints: dataPoints10,
                        markerType: "none"
                    }
                    ,
                    {
                        type: "spline",
                        visible: true,
                        showInLegend: true,
                        yValueFormatString: "##.00mn",
                        name: "Your boy's BMI",
                        dataPoints: dataPoints21,
                        indexLabel: "Your boy's BMI",
                        markerColor: "red",
                        markerType: "triangle"
                    },
                ]
            });

            boychart.render();
        }
        if (gender == "female") {
      
            for (var i = 0; i < result2.length; i++) {
                if (result2[i].Age_in_months >= 120 && result2[i].Age_in_months <= 160) {
                    dataPoints11.push({ x: result2[i].Age_in_months, y: result2[i].third_Percentile });
                    dataPoints12.push({ x: result2[i].Age_in_months, y: result2[i].fifth_Percentile });
                    dataPoints13.push({ x: result2[i].Age_in_months, y: result2[i].tenth_Percentile });
                    dataPoints14.push({ x: result2[i].Age_in_months, y: result2[i].twenty_fifth_Percentile });
                    dataPoints15.push({ x: result2[i].Age_in_months, y: result2[i].fiftieth_Percentile });
                    dataPoints16.push({ x: result2[i].Age_in_months, y: result2[i].seventy_fifth_Percentile });
                    dataPoints17.push({ x: result2[i].Age_in_months, y: result2[i].eightieth_Percentile });
                    dataPoints18.push({ x: result2[i].Age_in_months, y: result2[i].ninetieth_Percentile });
                    dataPoints19.push({ x: result2[i].Age_in_months, y: result2[i].ninety_fifth_Percentile });
                    dataPoints20.push({ x: result2[i].Age_in_months, y: result2[i].ninety_seventh_Percentile });
                    dataPoints22.push({ x: age, y: BMI });
                }
            }
            var girlchart = new CanvasJS.Chart("chartContainer", {
                theme: "light2",
                animationEnabled: true,
                title: {
                    text: "Age 10-12 Girl BMI",
                    margin: 25,
                    padding: 4,
                    dockInsidePlotArea: true,
                },
                axisX: {
                    title: "Age(in months)"
                },
                axisY: {
                    title: "BMI(kg/m^2)"
                },
                toolTip: {
                    shared: "true"
                },
                legend: {
                    cursor: "pointer",
                    itemclick: toggleDataSeries
                },
                data: [
                    {
                        type: "spline",
                        visible: false,
                        showInLegend: true,
                        yValueFormatString: "##.00",
                        name: "third_Percentile",
                        dataPoints: dataPoints11,
                        markerType: "none"
                    },
                    {
                        type: "spline",
                        showInLegend: true,
                        visible: false,
                        yValueFormatString: "##.00",
                        name: "fifth_Percentile",
                        dataPoints: dataPoints12,
                        markerType: "none"
                    },
                    {
                        type: "spline",
                        visible: true,
                        showInLegend: true,
                        yValueFormatString: "##.00",
                        name: "tenth_Percentile",
                        dataPoints: dataPoints13,
                        markerType: "none"
                    },
                    {
                        type: "spline",
                        visible: true,
                        showInLegend: true,
                        yValueFormatString: "##.00",
                        name: "twenty_fifth_Percentile",
                        dataPoints: dataPoints14,
                        markerType: "none"
                    },
                    {
                        type: "spline",
                        visible: true,
                        showInLegend: true,
                        yValueFormatString: "##.00",
                        name: "fiftieth_Percentile",
                        dataPoints: dataPoints15,
                        markerType: "none"
                    },
                    {
                        type: "spline",
                        visible: true,
                        showInLegend: true,
                        yValueFormatString: "##.00",
                        name: "seventy_fifth_Percentile",
                        dataPoints: dataPoints16,
                        markerType: "none"
                    },
                    {
                        type: "spline",
                        visible: true,
                        showInLegend: true,
                        yValueFormatString: "##.00",
                        name: "eightieth_Percentile",
                        dataPoints: dataPoints17,
                        markerType: "none"
                    },
                    {
                        type: "spline",
                        visible: true,
                        showInLegend: true,
                        yValueFormatString: "##.00",
                        name: "ninetieth_Percentile",
                        dataPoints: dataPoints18,
                        markerType: "none"
                    },
                    {
                        type: "spline",
                        visible: false,
                        showInLegend: true,
                        yValueFormatString: "##.00",
                        name: "ninety_fifth_Percentile",
                        dataPoints: dataPoints19,
                        markerType: "none"
                    },
                    {
                        type: "spline",
                        visible: false,
                        showInLegend: true,
                        yValueFormatString: "##.00",
                        name: "ninety_seventh_Percentile",
                        dataPoints: dataPoints20,
                        markerType: "none"
                    },
                    {
                        type: "spline",
                        visible: true,
                        showInLegend: true,
                        yValueFormatString: "##.00mn",
                        name: "Your girl's BMI",
                        dataPoints: dataPoints22,
                        indexLabel: "Your girl's BMI",
                        markerColor: "red",
                        markerType: "triangle"
                    },
                ]
            });
            girlchart.render();
        }

        
    
        function toggleDataSeries(e) {
            if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                e.dataSeries.visible = false;
            } else {
                e.dataSeries.visible = true;
            }
            if (gender == "male") {
                boychart.render();
            }
            if (gender == "female") {
                girlchart.render();
            }

        }
    }
</script>


