
@{
    ViewBag.Title = "Consequences";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .hero-3 {
        height: 45vh;
    }
</style>
<div class="hero hero-3" style="background-image: url('../../images/fact.jpg');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 text-center mx-auto">
                <div class="intro">

                    <h1 class="heading mb-2" data-aos="fade-up" data-aos-delay="0">Consequences of Childhood Obesity</h1>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="container">
        <div class="col-lg-8 text-left mx-auto text-dark ">
            <dive class="row">
                <div class="section">

                    <h class="subheading1" data-aos="fade-up" data-aos-delay="100"><br>What is the health indication of obesity?</h>
                    <p>
                        <br />
                        According to <a style="" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2929301/">Gordon-Larsen (2010).</a> Obese children are more likely to develop into obese adults. Adult obesity, as
                        <a style="" href="https://www.ahajournals.org/doi/full/10.1161/CIRCULATIONAHA.114.010772">Jensen et al (2014) </a>noted, is associated with an increased risk of several serious health conditions, including heart disease, type 2 diabetes, and cancer.

                    </p>
                    <p>
                        Although the majority of the health issues associated with obesity will become apparent in adulthood. Children frequently show early signs of these problems.
                        Potential health issues for obese children, according to the <a style="" href="https://www.betterhealth.vic.gov.au/health/healthyliving/obesity-in-children-causes">Better Health Channel (2013)</a> , include:
                        Type 2 diabetes – although this disorder is more common in adults, it is now being diagnosed in children as well. If not treated correctly, it can affect nearly all of your child's organs and cause severe complications such as skin disorders, nerve damage, and cardiovascular conditions such as high blood pressure, artery narrowing, angina, heart attack, and stroke.
                    </p>

                    <h class="subheading1" data-aos="fade-up" data-aos-delay="100"><br>What are the social and mental impacts of obesity?</h>
                    <p>
                        <br />
                        Obesity, as reported by the <a href="https://www.betterhealth.vic.gov.au/health/healthyliving/obesity-in-children-causes">Better Health Channel (2013)</a>, can have a significant impact on how children view themselves and communicate with others. Obese teenagers are more likely to have low self-esteem, which can have an effect on other facets of their lives, such as friendship formation and academic competency. These social and mental issues will include:<br>
                        •	Depression and other psychological issues. Obesity, as <a href="https://www.health.harvard.edu/mind-and-mood/depression-and-obesity-confirming-the-link">Miller (2013) </a> explains, affects the parts of the brain that control one’s mood. When your child is stressed, they can have less energy and enthusiasm, which may lead to less activity and exercise. As a consequence, they will further gain weight.<br />
                        •	Low self-esteem and low quality of life. <a href="https://jamaicahospital.org/newsletter/how-obesity-can-affect-your-teens-self-esteem/#:~:text=Studies%20have%20shown%20that%20obese,than%20their%20non%2Dobese%20peers.&text=Young%20teenagers%20around%20this%20age,in%20depression%20or%20anger%20issues">Hink(2014) </a>claims that  , obese children have significantly lower self-esteem than their non-obese peers, according to studies. The difference in self-confidence is most noticeable about the age of 14, which is also a crucial period for teenagers because it is when they grow their sense of self-worth. Children with low self-esteem are often lonely, anxious, or depressed. They are much more likely to pursue cigarettes, alcohol, and drugs.<br />
                        •	Bullying and other social issues. In their post, <a href="https://www.sciencedaily.com/releases/2016/11/161111132249.htm">King's College London (2016)</a>  mentions a recent study that included interviews with mothers and children at repeated tests at the ages of 7, 10, and 12. It was discovered that 28% of the children in the study had been bullied in either primary or secondary school (defined as transitory bullying), and 13% had been bullied in both primary and secondary school (defined as chronic bullying). Children who were bullied at school were 1.7 times more likely as adults to be overweight than non-bullied children (29 per cent prevalence compared to 20 per cent). Children who were bullied had a higher BMI and waist-hip ratio.
                    </p>

                    <a href="@Url.Action("BMI", "Home")" class="d-flex float-end block-testimonial">
                        <span class="label">Check your children's BMI now</span>
                        <span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
                    </a>
                </div>

            </dive>

        </div>

    </div>
</div>