
@{
    ViewBag.Title = "Facts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero hero-2" style="background-image: url('../../images/background1.jpg');">
    <div class="container">
        <div class="row align-content-center">
            <div class="col-lg-8 text-left mx-auto text-white ">
                <div class="intro">

                    <h1 class="heading mb-2" data-aos="fade-up" data-aos-delay="0">Facts About Childhood Obesity</h1>
                    <h class="subheading " data-aos="fade-up" data-aos-delay="100"><br />What is Obesity in Children?</h>
                    <p>Obesity and overweight are described as irregular or excessive fat accumulations that pose a health risk. As indicated by <a style="" href="https://www.healthdirect.gov.au/obesity-in-children#what-is">Health Direct (2020)</a> , Obese or overweight children and teenagers have more body fat for their age. If your child is obese, they may have reached their maximum weight, which is beyond what is considered ideal for their age. Your child's BMI is over the acceptable limit if he or she is overweight, but not as high as an obese child. According to the <a href="https://www.aihw.gov.au/reports/overweight-obesity/overweight-obesity-australian-children-adolescents/contents/summary">Australian Institute of Health and Welfare</a> report published in 2020  In 2017–18, one in every four (25%) Australian children and adolescents aged 2–17 was overweight or obese, and one in every twelve (8.2%) were obese. Obesity is a somewhat worrying disorder for Australians aged 4 to 17 years, as it is significantly more difficult to overcome once acquired.</p>

                    <h class="subheading " data-aos="fade-up" data-aos-delay="100">How is obesity in children measured?</h>
                    <p>
                        The definition of body mass index (BMI) was developed in order to systematically explain obesity. BMI is the weight-to-height ratio of an individual in relation to their gender and age. BMI = weight (kg) / height (m)²
                        When calculating BMI, nomograms for both adults and children have been created to graphically reflect the normal range. When a person's BMI is between 25.0-29.9, they are considered overweight. Obesity is characterized as having a body mass index (BMI) greater than 30.0.
                        According to the <a href="https://www.cdc.gov/nccdphp/dnpa/growthcharts/training/modules/module1/text/module1print.pdf">Centers for Disease Control and Prevention</a>, BMI is the most frequently used index for classifying adiposity in adults, and it is also recommended for use with children and adolescents.
                        BMI varies by age and gender. A BMI-for-age score between the 85th and 95th percentile on a physical graph may indicate that your child is overweight, while a score of 95th percentile or higher may indicate obesity.
                    </p>
                    <h class="subheading " data-aos="fade-up" data-aos-delay="100">When should my child start losing weight?</h>
                    <p>
                        There is no specific age at which weight loss is most successful, but according to <a href="https://www.webmd.com/diet/helping-your-child-lose-weight#2">Brennan (2020)</a>, programs for 4-year-olds vary from those designed for children 8 or 12 years of age in terms of the child's and parents' level of responsibility.
                    </p>
                    <a href="@Url.Action("BMI", "Home")" class="d-flex float-end block-testimonial">
                        <span class="label">Check your children's BMI now</span>
                        <span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<svg class="arrows" style="height:80px">
    <path class="a1" d="M0 40 L30 72 L60 40" style="stroke:white;stroke-width:5px"></path>
    <path class="a2" d="M0 60 L30 92 L60 60" style="stroke:white;stroke-width:5px"></path>
    <path class="a3" d="M0 80 L30 112 L60 80" style="stroke:white;stroke-width:5px"></path>
</svg>

<div>
    <div class="container">
        <div class="col-lg-8 text-left mx-auto text-dark ">
            <dive class="row">
                <div class="section">
                    <h1 class="heading mb-2" data-aos="fade-up" data-aos-delay="0">More Information</h1>
                    <h class="subheading1" data-aos="fade-up" data-aos-delay="100"><br>The Cause of Obesity in Children?</h>

                    <p>
                        <br />
                        As stated by the Mersch & Perlstein (n.d.) , the vast majority of obesity represents an imbalance in calories ingested versus calories expended.
                        Obesity risk factors, according to the <a href="https://www.betterhealth.vic.gov.au/health/healthyliving/obesity-in-children-causes">Better Health Channel (2013)</a>, would include:<br>
                        •	Food preferences - include selecting high fat and sugary foods over healthy alternatives.<br>
                        •	Physical inactivity – Australian children are less involved than in the past.<br>
                        •	Spending a lot of time on sedentary activities – On average, Australian children watch about 212 hours of television per day, in addition to spending time on computers and other video games. These pastimes seem to be displacing active ones.<br>
                        •	Overweight parents – a family's dietary habits may have a significant impact on whether or not a child maintains a healthy weight. Some overweight parents may be less worried about their children being overweight than healthy-weight parents.<br>
                        •	Genetics – extreme childhood obesity is caused by a few unusual gene disorders such as Prader-Willi syndrome. In many other people, unique genes working in concert potentially make certain children more vulnerable to obesity. If there is a family history of obesity, parents must be particularly conscious of making healthy food choices for the whole family.<br>
                        •	Health problem - hormone disorders that cause weight gain, such as hypothyroidism drugs with weight gain side effects, such as antipsychotic medications.

                    </p>


                    <h class="subheading1" data-aos="fade-up" data-aos-delay="100">
                        <br>Where to get help？
                    </h>

                    <p>
                        <br />
                        Dietitians Association of Australia
                        <br />
                        Tel. 1800 812 942
                    </p>

                    <a href="@Url.Action("Consequences", "Home") " class="d-flex float-end block-testimonial">

                        <span>Why should I care?</span>
                        <span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
                    </a>
                </div>
                
            </dive>
            
        </div>
        
    </div>
</div>