

@{
    ViewBag.Title = "FoodSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="hero hero-3" style="background-image: url('../../images/food.jpg'); height:55vh;z-index:-1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 text-center mx-auto">
                <div class="intro">

                    <h1 class="heading mb-2" data-aos="fade-up" data-aos-delay="0"style="padding-bottom:30px">Food Calories Search</h1>
                    <p class="text-white">
                        We provide a general list of some of the most common foods that you will find in your household, try figure out the calorie serves that you give your child each day and remember to not exceed the TDEE figure.
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>



<div class="post-entries section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-6 mx-auto" data-aos="fade-up" data-aos-delay="0">
                <div class="line mx-auto mb-3"></div>
                <h2 class="heading mb-5 text-center">Foods &amp; Calories </h2>

                <div class="box">
                    <div class="searchBox">
                        <input type="text" onkeyup="myFunction()" placeholder="Search for food" class="searchInput" id="myInput" style="padding-left: 10px;">
                        <input type="button" value="Search" class="searchButton">
                    </div>
                </div>
            </div>

            <div class="col-lg-8 mx-auto">

                <div class="tab-content" id="tabContent">
                    <table class="myTable" id="myTable">
                        <tr class="header">
                            <th style="width:35%;">Food</th>
                            <th style="width:35%;">Calories (per 100g)</th>
                            <th style="width:35%;">Calories (per serving/cup)</th>
                            @*<th style="width:20%;">Star</th>*@
                        </tr>
                        <tr>
                            <td>Apples</td>
                            <td>48</td>
                            <td>95</td>


                        </tr>
                        <tr>
                            <td>Bacon</td>
                            <td>517</td>
                            <td>60</td>

                        </tr>
                        <tr>
                            <td>Bananas</td>
                            <td>89</td>
                            <td>105</td>

                        </tr>
                        <tr>
                            <td>Beef</td>
                            <td>198</td>
                            <td>217</td>

                        </tr>
                        <tr>
                            <td>Beans</td>
                            <td>147</td>
                            <td>118</td>

                        </tr>
                        <tr>
                            <td>Black Tea</td>
                            <td>0</td>
                            <td>0</td>

                        </tr>
                        <tr>
                            <td>Blend Juice</td>
                            <td>50</td>
                            <td>187</td>

                        </tr>

                        <tr>
                            <td>Bread(Toasted)</td>
                            <td>288</td>
                            <td>70</td>

                        </tr>

                        <tr>
                            <td>Broccoli</td>
                            <td>34</td>
                            <td>31</td>

                        </tr>


                        <tr>
                            <td>Bubble Tea</td>
                            <td>96</td>
                            <td>212</td>

                        </tr>

                        <tr>
                            <td>Carrots</td>
                            <td>41</td>
                            <td>30</td>

                        </tr>
                        <tr>
                            <td>Celery</td>
                            <td>41</td>
                            <td>15</td>

                        </tr>

                        <tr>
                            <td>Chicken</td>
                            <td>143</td>
                            <td>128</td>

                        </tr>
                        <tr>
                            <td>Coconut water</td>
                            <td>18</td>
                            <td>46</td>

                        </tr>
                        <tr>
                            <td>Cola</td>
                            <td>38</td>
                            <td>150</td>

                        </tr>
                        <tr>
                            <td>Cola(Diet)</td>
                            <td>2</td>
                            <td>8</td>

                        </tr>
                        <tr>
                            <td>Cucumber</td>
                            <td>12</td>
                            <td>8</td>

                        </tr>

                        <tr>
                            <td>Egg</td>
                            <td>143</td>
                            <td>70</td>

                        </tr>
                        <tr>
                            <td>Energy drink</td>
                            <td>43</td>
                            <td>110</td>

                        </tr>
                        <tr>
                            <td>Fish</td>
                            <td>160</td>
                            <td>280</td>

                        </tr>
                        <tr>
                            <td>Fried Rice</td>
                            <td>174</td>
                            <td>238</td>

                        </tr>
                        <tr>
                            <td>Grapes</td>
                            <td>57</td>
                            <td>62</td>

                        </tr>
                        <tr>
                            <td>Ham</td>
                            <td>180</td>
                            <td>100</td>

                        </tr>
                        <tr>
                            <td>Juice</td>
                            <td>46</td>
                            <td>110</td>

                        </tr>

                        <tr>
                            <td>Kiwifruit</td>
                            <td>61</td>
                            <td>42</td>

                        </tr>



                        <tr>
                            <td>Lamb</td>
                            <td>282</td>
                            <td>258</td>

                        </tr>
                        <tr>
                            <td>Litchis</td>
                            <td>66</td>
                            <td>90</td>

                        </tr>

                        <tr>
                            <td>Milk</td>
                            <td>61</td>
                            <td>150</td>

                        </tr>
                        <tr>
                            <td>Nectarines</td>
                            <td>43</td>
                            <td>59</td>

                        </tr>
                        <tr>
                            <td>Noodles</td>
                            <td>108</td>
                            <td>386</td>

                        </tr>
                        <tr>
                            <td>Oranges</td>
                            <td>63</td>
                            <td>65</td>

                        </tr>

                        <tr>
                            <td>Pasta</td>
                            <td>131</td>
                            <td>221</td>

                        </tr>
                        <tr>
                            <td>Peaches</td>
                            <td>39</td>
                            <td>58</td>

                        </tr>
                        <tr>
                            <td>Pears</td>
                            <td>57</td>
                            <td>96</td>

                        </tr>
                        <tr>
                            <td>Pizza</td>
                            <td>266</td>
                            <td>285</td>

                        </tr>
                        <tr>
                            <td>Pork</td>
                            <td>263</td>
                            <td>202</td>

                        </tr>
                        <tr>
                            <td>Potatoes</td>
                            <td>58</td>
                            <td>110</td>

                        </tr>
                        <tr>
                            <td>Pumpkin</td>
                            <td>26</td>
                            <td>49</td>

                        </tr>
                        <tr>
                            <td>Rice</td>
                            <td>130</td>
                            <td>205</td>

                        </tr>

                        <tr>
                            <td>Salad</td>
                            <td>21</td>
                            <td>20</td>

                        </tr>

                        <tr>
                            <td>Smoothie</td>
                            <td>37</td>
                            <td>161</td>

                        </tr>

                        <tr>
                            <td>Soy Milk</td>
                            <td>54</td>
                            <td>100</td>

                        </tr>
                        <tr>
                            <td>Strawberry</td>
                            <td>69</td>
                            <td>56</td>

                        </tr>
                        <tr>
                            <td>Tomatoes</td>
                            <td>16</td>
                            <td>32</td>

                        </tr>


                        <tr>
                            <td>Water</td>
                            <td>0</td>
                            <td>0</td>

                        </tr>

                        <tr>
                            <td>Watermelon</td>
                            <td>30</td>
                            <td>46</td>

                        </tr>








                    </table>



                </div>


            </div>


        </div>
    </div>
</div>

<script>
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
<style>
    .box {
        margin: 10px auto;
        height: 50px;
        width: 100%;
    }

    .searchBox {
        margin: 0 auto;
        width: 80%;
        position: relative;
    }

    .searchInput {
        display: inline-block;
        width: 80%;
        height: 38px;
        border: 1px solid #cccccc;
        float: left;
        box-sizing: border-box;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }

    .searchButton {
        display: inline-block;
        width: 20%;
        height: 38px;
        line-height: 40px;
        float: left;
        background-color: #00a0e9;
        font-size: 16px;
        cursor: pointer;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        border: none;
        color: #fff;
        margin-bottom: 100px;
    }





    #myTable {
        border-collapse: collapse; /* Collapse borders */
        width: 100%; /* Full-width */
        border: 2px solid #ddd; /* Add a grey border */
        font-size: 15px; /* Increase font-size */
    }

        #myTable th, #myTable td {
            text-align: left; /* Left-align text */
            padding: 12px; /* Add padding */
        }

        #myTable tr {
            /* Add a bottom border to all table rows */
            border-bottom: 1px solid #ddd;
        }

            #myTable tr.header, #myTable tr:hover {
                /* Add a grey background color to the table header and on hover */
                background-color: #f1f1f1;
            }
</style>

