
@{
    ViewBag.Title = "FoodConsumptions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="hero hero-3" style="background-image: url('../../images/food.jpg');height:45vh">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 text-left mx-auto">
                

                    <h1 class="heading mb-2" data-aos="fade-up" data-aos-delay="0" style="padding-bottom:30px">Food Consumptions & Energy Expenditure </h1>
                    

           

            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="col-lg-8 text-left mx-auto text-dark ">
        <dive class="row">
            <div class="section">
                <h class="subheading1" data-aos="fade-up" data-aos-delay="100"><br>TDEE and Meal Allocation</h>

                <p>
                    <br />
                    As indicated by the <a href="https://www.nhs.uk/conditions/obesity/"></a>National Health Service (2019), Obesity is typically triggered by overeating and inactivity. If your child eats a lot of food especially fat and sugars, but does not burn it off through physical exercise, the body will store a lot of it as fat.
                    Using our calculators, it is easy to find total daily energy expenditure figure which is recommended daily calorie intake that your child should have to maintain weight,
                    anything above that will result in weight gain. From <a href="https://www.verywellfit.com/how-many-calories-should-i-eat-for-breakfast-3495378">Moore (2021)’s article</a> we understand that this number should be split evenly across different meals throughout the day and our recommendation is for your child to consume:
                    <br />30-35% of daily calories in the morning
                    <br />35-40% of daily calories for the afternoon
                    <br /> 25-35% of daily calories at night


                </p>
                <br />
                <h class="subheading1" data-aos="fade-up" data-aos-delay="100"><br>Understanding Saturated Fats</h>

                <p>
                    <br />
                    Most saturated fats are animal fats, and a diet high in saturated fat is more obesogenic than a diet low in saturated fat. According to a <a href="https://www.health.harvard.edu/staying-healthy/the-truth-about-fats-bad-and-good#:~:text=A%20diet%20rich%20in%20saturated,10%25%20of%20calories%20a%20day">2015 Harvard Medical School article</a>, saturated fat may increase total cholesterol, causing blockages to form in arteries in the heart and elsewhere in the body. As a result, most nutritionists advise limiting saturated fat to less than 10% of daily calories.
                    Corresponding to the Dietary Guidelines for Americans, a boy aged 11 to 14 should consume 86g of fat per day, including 27g of saturated fat (equivalent to 5 teaspoons).
                    The following are some examples of popular foods that are high in saturated fats:


                </p>
                <br />
                <img src="~/images/SaturatedFat.jpg" alt="Image" class="img-fluid" />
                <br />
                <h class="subheading1" data-aos="fade-up" data-aos-delay="100"><br>Understanding Added Sugars</h>

                <p>
                    <br />
                    Added (Free) sugars are sweeteners that are added to foods and drinks to enhance flavour. As written by <a href="https://www.healthline.com/nutrition/does-sugar-make-you-fat">Kubala (2019)</a>, excess sugar can cause weight gain because it is high in calories while providing few other nutrients. Added sugars are often referred to as "empty calories" since they are high in calories but low in nutrients such as vitamins, minerals, protein, fat, and fibre, which the body needs to function properly.
                    The World Health Organization <a href="https://www.who.int/publications/i/item/9789241549028">WHO(2015)</a>  recommends that "free" sugars make up no more than 10% of daily kilojoule intake to prevent unhealthy weight gain and dental caries.
                    Children between 10 – 12 years should have no more than 30g of added sugars a day (7 teaspoons).
                    Common foods that are high in added sugars include the following:

                </p>
                <br />
                <img src="~/images/addedsugar.jpg" alt="Image" class="img-fluid" />
            </div>



            <a href="@Url.Action("HealthyDiet", "Home")" class=" block-testimonial">
                <span class="label float-end mb-5">Play lunch box challenge</span>
                
            </a>
            
</div>




</div>




