
@{
    ViewBag.Title = "HealthyDiet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="hero hero-3" style="background-image: url('../../images/background1.jpg');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 text-center mx-auto">
                <div class="intro">

                    <h1 class="heading mb-2" data-aos="fade-up" data-aos-delay="0" style="padding-bottom:30px">Healthy Diet Game</h1>
                    <div class="text-white" data-aos="fade-up" data-aos-delay="100">
                        <p class="block-testimonial">
                            Prepare a healthy lunch for your children!
                        </p>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class=" section-1">
        <div class="col-lg-8 text-center mx-auto">
            <button class="btn btn-outline-primary" style="color: darkslateblue;margin-top:20px"  onclick="showSort()">Play</button>
            <br>
            <div class="container2" id="container2" style="display:none" ondrop="drop(event)" ondragover="allowDrop(event)">

            </div>
            <div class="container1" id="container" style="display:none" ondrop="drop(event)" ondragover="allowDrop(event)">

                <div id="drag1" draggable="true" class="box" ondragstart="drag(event)">Rice</div>
                <div id="drag2" draggable="true" class="box" ondragstart="drag(event)">Chicken</div>
                <div id="drag3" draggable="true" class="box" ondragstart="drag(event)">Beef</div>
                <div id="drag4" draggable="true" class="box" ondragstart="drag(event)">Apple</div>
                <div id="drag5" draggable="true" class="box" ondragstart="drag(event)">Chocolate</div>
                <div id="drag6" draggable="true" class="box" ondragstart="drag(event)">Milk</div>
                <div id="drag7" draggable="true" class="box" ondragstart="drag(event)">Cheese</div>
                <div id="drag8" draggable="true" class="box" ondragstart="drag(event)">Lettuce</div>
                <div id="drag9" draggable="true" class="box" ondragstart="drag(event)">Ice cream</div>

                <p id="result"></p>
            </div>
            <br />
            <button class="btn btn-outline-primary float-end" style="color: darkslateblue;margin-top:20px; display:none" id="play1" onclick="complete()">Done</button>
            <button class="btn btn-outline-primary" style="color: darkslateblue;margin-top:20px;display:none" id="quit1" onclick="quitSort()" >Quit Game</button>


        </div>
    </div>
 

</div>


<script>
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
    }
</script>





<style>
    .container1 {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        background-color: lightgray;
        width: 30%;
        height: 300px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 110%;
    }
    .container2 {
        display: grid;
        grid-template-columns: repeat(5, 2fr);
        background-color: lightgray;
        width: 100%;
        height: 200px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .box {
        border: 3px solid #666;
        background-color: #ddd;
        border-radius: .5em;
        width:100px;
        height:30px;
        cursor: move;
        margin:10px;
    }
    
</style>


<script type="text/javascript">

    document.addEventListener('DOMContentLoaded', (event) => {

        var dragSrcEl = null;

        function handleDragStart(e) {
            this.style.opacity = '0.4';

            dragSrcEl = this;

            e.dataTransfer.effectAllowed = 'move';
            e.dataTransfer.setData('text/html', this.innerHTML);
        }

        function handleDragOver(e) {
            if (e.preventDefault) {
                e.preventDefault();
            }

            e.dataTransfer.dropEffect = 'move';

            return false;
        }

        function handleDragEnter(e) {
            this.classList.add('over');
        }

        function handleDragLeave(e) {
            this.classList.remove('over');
        }

        function handleDrop(e) {
            if (e.stopPropagation) {
                e.stopPropagation(); // stops the browser from redirecting.
            }

            if (dragSrcEl != this) {
                dragSrcEl.innerHTML = this.innerHTML;
                this.innerHTML = e.dataTransfer.getData('text/html');
            }

            return false;
        }

        function handleDragEnd(e) {
            this.style.opacity = '1';

            items.forEach(function (item) {
                item.classList.remove('over');
            });
        }


        let items = document.querySelectorAll('.container .box');
        items.forEach(function (item) {
            item.addEventListener('dragstart', handleDragStart, false);
            item.addEventListener('dragenter', handleDragEnter, false);
            item.addEventListener('dragover', handleDragOver, false);
            item.addEventListener('dragleave', handleDragLeave, false);
            item.addEventListener('drop', handleDrop, false);
            item.addEventListener('dragend', handleDragEnd, false);
        });
        

    });

    function complete() {
        var list = document.getElementsByClassName("container1");
        
        var ls = list[0].getElementsByTagName("div");
        
        
        if (ls[0].innerHTML == "Lettuce" && ls[1].innerHTML == "Apple" && ls[2].innerHTML == "Milk"
            && ls[3].innerHTML == "Rice" && ls[4].innerHTML == "Ice cream" && ls[5].innerHTML == "Chicken"
            && ls[6].innerHTML == "Beef" && ls[7].innerHTML == "Cheese" && ls[8].innerHTML == "Chocolate") {
            document.getElementById("result").innerHTML = "Success";
        }
        else {
            document.getElementById("result").innerHTML = "Try again";
        }
    }
     
    function showSort() {
        var x = document.getElementById("container");
       
        x.style.display = "inline-grid";
        document.getElementById("container2").style.display = "inline-grid";
        document.getElementById("quit1").style.display = "block";
        document.getElementById("play1").style.display="block";
    }
    function quitSort() {
        var x = document.getElementById("container");

        x.style.display = "none";
        document.getElementById("container2").style.display = "none";
        document.getElementById("play1").style.display = "none";
        document.getElementById("quit1").style.display = "none";
    }
</script>