
@{
    ViewBag.Title = "Hopscotch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="hero hero-3" style="background-image: url('../../images/background1.jpg');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 text-left mx-auto">
                <div class="intro">

                    <h1 class="heading mb-2" data-aos="fade-up" data-aos-delay="0" style="padding-bottom:30px">Hopscotch</h1>
                    <div class="text-white" data-aos="fade-up" data-aos-delay="100">
                        <p class="block-testimonial">
                            To play hopscotch, a court is first laid out on the ground. Depending on the available surface, the court is either scratched out in the dirt or drawn with chalk on pavement. The squares are then numbered in the sequence in which they are to be hopped. The first player tosses the marker on to the court. This object should land in the square without bouncing, sliding, or rolling out. The marker must land completely within the square without touching the line. The player then hops through the course, skipping the square with the marker in it. Single squares must be hopped on one foot. For the first single square, either foot may be used. Side-by-side squares are straddled, with the left foot landing in the left square, and the right foot landing in the right square. Upon successfully completing the sequence, the player continues the turn by tossing the marker into square number two and repeating the pattern.
                        </p>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


<div class="section">
    <div class="container">
        <div class="col-sm-12 col-md-12 col-lg-12" data-aos="fade-up" data-aos-delay="0">
            <div class="block-testimonial d-flex ">
                <div class="img col-lg-6">
                    <img src="~/images/hopscotch.jpg" alt="Image" class="img-fluid" style="height:500px;" />
                </div>

                <div class="col-lg-6" style="padding-left:10px;">

                    <div class="heading mb-2" style="padding-top:120px; padding-bottom: 40px;">
                        Tips for Dodgeball:
                    </div>

                    <p>Number of participants: 1-many</p>
                    <p>
                        Recommended playtime: 30 min per session
                    </p>
                    <p>
                        Suggested Location: Backyard, Public School, Public parks
                    </p>
                    <p>
                        Star Count: <span class="fa fa-star checked"></span>

                    </p>
                    <p>
                        Equipment Needed: Chalk
                    </p>
                    <p>
                        Calories Burned: 88 calories in 15 minutes
                    </p>
                    <div class="media-entry h-25">
                        <a href="https://www.dailymail.co.uk/femail/article-3695825/The-playground-games-burn-calories-running-cost-Gym-expert-says-hopscotch-tag-skipping-latest-fitness-fads.html" class="more d-flex align-items-center float-end">
                            <span class="label text-black-50 text-center">See more details on 'DailyAustralia'</span>
                            <span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
                        </a>

                    </div>

                    <a href="@Url.Action("MapSearch", "Home")" class="d-flex float-end block-testimonial">
                        <span class="label">Find places for exercising</span>
                        <span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
                    </a>
                </div>


            </div>


        </div>
        <div class="site-nav" style="margin-top:1700px">
            <div class="site-navigation">
                <div class="js-clone-nav block-testimonial text-start site-menu float-left">
                    <div class="has-children">
                        <p>Other Activities</p>
                        <ul class="dropdown">
                            <li><a href="@Url.Action("Dodgeball", "Home")">Dodgeball</a></li>
                            <li>
                                <a href="@Url.Action("Jumprope", "Home")">Jump Rope</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>

