
@{
    ViewBag.Title = "RedRover";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero hero-3" style="background-image: url('../../images/park.jpg');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 text-left mx-auto">
                <div class="intro">

                    <h1 class="heading mb-2" data-aos="fade-up" data-aos-delay="0" style="padding-bottom:30px">Red Rover</h1>
                    <div class="text-white" data-aos="fade-up" data-aos-delay="100">
                        <p class="block-testimonial">
                            Also know as octopus tag is played between two lines of players (usually called the "East" or "West" team, although this does not relate to the actual relative location of the teams), usually positioned approximately thirty feet apart. The game starts when the first team, in this example the "East" team, calls a player out, by saying or singing a line like "Red rover, red rover, send [player on opposite team] right over".
                            The immediate goal for the person called is to run to the other line and break the "East" team's chain (formed by the linking of hands). If the player called fails to break the chain, they join the "East" team. However, if the player successfully breaks the chain, they may select either of the two "links" broken by the successful run and take them to join the "West" team. The "West" team then calls out "Red rover" for a player on the "East" team, and play continues.

                        </p>


                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


<div class="section">
    <div class="container">
        <div class="col-sm-12 col-md-12 col-lg-12" data-aos="fade-up" data-aos-delay="0">
            <div class="block-testimonial d-flex ">
                <div class="img col-lg-6">
                    <img src="~/images/RedRover.jpg" alt="Image" class="img-fluid" />

                </div>

                <div class="col-lg-6" style="padding-left:180px;">

                    <div class="heading mb-2" style="padding-top:20px; padding-bottom: 40px;">
                        Tips for Red Rover:
                    </div>

                    <p>Number of participants: 5 or more</p>
                    <p>
                        Intensiveness: Moderate
                    </p>
                    <p>
                        Suggested Location: Parks and Large Public Spaces
                    </p>
                    @*<p>
                            Star Count:
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </p>*@


                    <p>
                        Equipment Needed: None
                    </p>
                    <p>
                        Calories Burned: 200 Cal for 30 mins
                    </p>
                    <div class="media-entry h-25">
                        <a href="https://www.verywellfit.com/easy-ways-to-burn-100-calories-3495197 " class="more d-flex align-items-center float-end">
                            <span class="label text-black-50 text-center">See more details on 'VeryWellFit'</span>
                            <span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
                        </a>

                    </div>



                </div>


            </div>
            <a href="@Url.Action("MapSearch", "Home")" class="d-flex float-end block-testimonial">
                <span class="label">Find places for exercising</span>
                <span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
            </a>
            <a href="@Url.Action("MoreActivities", "Home") " class="d-flex float-right block-testimonial">
                <span class="arrow"><span class="icon-keyboard_arrow_left"></span></span>
                <span>Find other Activities</span>

            </a>

        </div>

    </div>

</div>





