@{
    ViewBag.Title = "Tag";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero hero-3" style="background-image: url('../../images/park.jpg');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 text-left mx-auto">
                <div class="intro">

                    <h1 class="heading mb-2" data-aos="fade-up" data-aos-delay="0" style="padding-bottom:30px">Tag</h1>
                    <div class="text-white" data-aos="fade-up" data-aos-delay="100">
                        <p class="block-testimonial">
                            A group of players (two or more) decide who is going to be "it", often using a counting-out game such as eeny, meeny, miny, moe. The player selected to be "it" then chases the others, attempting to get close enough to "tag" one of them (touching them with a hand) while the others try to escape. A tag makes the tagged player "it" - in some variations, the previous "it" is no longer "it" and the game can continue indefinitely while in others, both players remain "it" and the game ends when all players have become "it".
                        </p>

                        <a href="https://kids.kiddle.co/Tag_(game)" class="d-flex float-end block-testimonial">
                            <span class="label">Check more on 'kiddle'</span>
                            <span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
                        </a>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


<div class="section">
    <div class="container">
        <div class="col-sm-12 col-md-12 col-lg-12" data-aos="fade-up" data-aos-delay="0">
            <div class="block-testimonial d-flex ">
                <div class="img col-lg-6">

                    <img src="~/images/tag.jpg" alt="Image" class="img-fluid" />
                </div>

                <div class="col-lg-6" style="padding-left:180px;">

                    <div class="heading mb-2" style="padding-top:20px; padding-bottom: 40px;">
                        Tips for Tag:
                    </div>

                    <p>Number of participants: 2 or more</p>
                    <p>
                        Intensiveness: High
                    </p>
                    <p>
                        Suggested Location: Backyard, Parks and Large Public Spaces
                    </p>
                    @*<p>
                        Star Count:
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </p>*@


                    <p>
                        Equipment Needed: None
                    </p>
                    <p>
                        Calories Burned: 270 Cal for 30 mins
                    </p>
                    <div class="media-entry h-25">
                        <a href="https://www.dailymail.co.uk/femail/article-3695825/The-playground-games-burn-calories-running-cost-Gym-expert-says-hopscotch-tag-skipping-latest-fitness-fads.html" class="more d-flex align-items-center float-end">
                            <span class="label text-black-50 text-center">See more details on 'DailyAustralia'</span>
                            <span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
                        </a>

                    </div>



                </div>


            </div>
            <a href="@Url.Action("MapSearch", "Home")" class="d-flex float-end block-testimonial">
                <span class="label">Find places for exercising</span>
                <span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
            </a>
            <a href="@Url.Action("MoreActivities", "Home") " class="d-flex float-right block-testimonial">
                <span class="arrow"><span class="icon-keyboard_arrow_left"></span></span>
                <span>Find other Activities</span>

            </a>

        </div>

    </div>

</div>



