@{
    ViewBag.Title = "Twister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero hero-3" style="background-image: url('../../images/park.jpg');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 text-left mx-auto">
                <div class="intro">

                    <h1 class="heading mb-2" data-aos="fade-up" data-aos-delay="0" style="padding-bottom:30px">Twister</h1>
                    <div class="text-white" data-aos="fade-up" data-aos-delay="100">
                        <p class="block-testimonial">
                            It is played on a large plastic mat that is spread on the floor or ground. The mat has six rows of large colored circles on it with a different color in each row: red, yellow, green, and blue. A spinner is attached to a square board and is used to determine where the player has to put their hand or foot. The spinner is divided into four labeled sections: left foot, right foot, left hand, and right hand.
                        </p>

                        <a href="https://en.wikipedia.org/wiki/Twister_(game)" class="d-flex float-end block-testimonial">
                            <span class="label">Check more on 'wikipedia'</span>
                            <span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
                        </a>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


<div class="section">
    <div class="container">
        <div class="col-sm-12 col-md-12 col-lg-12" data-aos="fade-up" data-aos-delay="0">
            <div class="block-testimonial d-flex ">
                <div class="img col-lg-6">

                    <img src="~/images/twister.jpg" alt="Image" class="img-fluid" />
                </div>

                <div class="col-lg-6" style="padding-left:180px;">

                    <div class="heading mb-2" style="padding-top:20px; padding-bottom: 40px;">
                        Tips for Twister:
                    </div>

                    <p>Number of participants: 2 or more </p>
                    <p>
                        Intensiveness: Low
                    </p>
                    <p>
                        Suggested Location: At home, Large Public Spaces
                    </p>
                    @*<p>
                        Star Count:
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </p>*@


                    <p>
                        Equipment Needed: 1 twister board
                    </p>
                    <p>
                        Calories Burned: 120 Cal for 30 mins
                    </p>
                    <div class="media-entry h-25">
                        <a href="https://www.onbuy.com/gb/blog/top-10-calorie-burning-games-for-kids~a4/" class="more d-flex align-items-center float-end">
                            <span class="label text-black-50 text-center">See more details on 'OnBuy'</span>
                            <span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
                        </a>

                    </div>



                </div>


            </div>
            <a href="@Url.Action("MapSearch", "Home")" class="d-flex float-end block-testimonial">
                <span class="label">Find places for exercising</span>
                <span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
            </a>
            <a href="@Url.Action("MoreActivities", "Home") " class="d-flex float-right block-testimonial">
                <span class="arrow"><span class="icon-keyboard_arrow_left"></span></span>
                <span>Find other Activities</span>

            </a>

        </div>
      
    </div>

</div>



