@{
    ViewBag.Title = "Wolf";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero hero-3" style="background-image: url('../../images/background1.jpg');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 text-left mx-auto">
                <div class="intro">

                    <h1 class="heading mb-2" data-aos="fade-up" data-aos-delay="0" style="padding-bottom:30px">What’s the time, Mr. Wolf?</h1>
                    <div class="text-white" data-aos="fade-up" data-aos-delay="100">
                        <p class="block-testimonial">
                            One player is chosen to be Mr. Wolf. Mr. Wolf stands at the opposite end of the playing field from the other players, facing away from them. A call-and-response then takes place: all players except for Mr. Wolf chant in unison "What's the time, Mr. Wolf?", and Mr. Wolf will answer in one of the two ways:
                            1.	Mr. Wolf may call a clock time (e.g., "3 o'clock"). The other players will then take that many steps out long as they go ("One, two, three"). Then they ask the question again.
                            2.	Mr. Wolf may call "Dinner time!"/"Lunch Time", when Mr. Wolf will turn around and chase the other players back to their starting point. If Mr. Wolf successfully tags a player, that player becomes the new Mr. Wolf for the next round.
                        </p>

                        <a href="https://kids.kiddle.co/What%27s_the_time,_Mr_Wolf%3F" class="d-flex float-end block-testimonial">
                            <span class="label">Check more on 'kiddle'</span>
                            <span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
                        </a>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


<div class="section">
    <div class="container">
        <div class="col-sm-12 col-md-12 col-lg-12" data-aos="fade-up" data-aos-delay="0">
            <div class="block-testimonial d-flex ">
                <div class="img col-lg-6">

                    <img src="~/images/what's the time.jpg" alt="Image" class="img-fluid" />
                </div>

                <div class="col-lg-6" style="padding-left:180px;">

                    <div class="heading mb-2" style="padding-top:20px; padding-bottom: 40px;">
                        Tips for What’s the time, Mr. Wolf:
                    </div>

                    <p>Number of participants: 3-many</p>
                    <p>
                        Recommended playtime: 10 mins per session
                    </p>
                    <p>
                        Suggested Location: Backyard, park, playground
                    </p>
                    <p>
                        Star Count:
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </p>


                    <p>
                        Equipment Needed: Friends
                    </p>
                    <p>
                        Calories Burned: 150 Cal for 30 mins
                    </p>
                    <div class="media-entry h-25">
                        <a href="https://kids.kiddle.co/What%27s_the_time,_Mr_Wolf%3F" class="more d-flex align-items-center float-end">
                            <span class="label text-black-50 text-center">See more details on 'kiddle'</span>
                            <span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
                        </a>

                    </div>



                </div>


            </div>
            <a href="@Url.Action("MapSearch", "Home")" class="d-flex float-end block-testimonial">
                <span class="label">Find places for exercising</span>
                <span class="arrow"><span class="icon-keyboard_arrow_right"></span></span>
            </a>
            <a href="@Url.Action("MoreActivities", "Home") " class="d-flex float-right block-testimonial">
                <span class="arrow"><span class="icon-keyboard_arrow_left"></span></span>
                <span>Find other Activities</span>

            </a>

        </div>
        @*<div class="site-nav" style="margin-top:1600px">

                <div class="site-navigation">
                    <div class="js-clone-nav block-testimonial text-start site-menu float-left">
                        <div class="has-children">
                            <p>Other Activities</p>
                            <ul class="dropdown">
                                <li><a href="@Url.Action("Jumprope", "Home")">Jump Rope</a></li>
                                <li>
                                    <a href="@Url.Action("Hopscotch", "Home")">Hopscotch</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>*@
    </div>

</div>



